In [32]:
import pandas as pd
import numpy as np

melb_data = pd.read_csv('data\melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
#display(melb_df['MeanRoomsSquare'])

# Create new column WeekdaySale
# display(melb_df.info())
melb_df['WeekdaySale'] = pd.to_datetime(melb_df['Date']).dt.day_of_week

melb_df['Weekend'] = melb_df['WeekdaySale'].apply(lambda x: 1 if x>4 else 0)
#print(round(melb_df[melb_df['Weekend'] == 1]['Price'].mean()))



popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seller else 'other')

a = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
b = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
#print(a/b)

display(melb_df.info())

list_Suburb = melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in list_Suburb else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')

display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  object
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  object
 6   SellerG          13580 non-null  object
 7   Date             13580 non-null  object
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  YearBuilt        13580 non-null  int64
 16  CouncilArea      12211 non-null  object
 17  Lattitude        13580 non-null  float64
 18  Longtitude       13580 non-null  float64
 19  Regionname       13580 non-null  object
 20  Propertycount    13580 non-null  int64
 21  MeanRoomsSquare  13580 non-null  float64
 22  WeekdaySale      13580 non-null  int64
 23  Weekend          13580 non-null  int64
dtypes: float64(7), int64(9), object(8)
memory usage: 2.5+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  object
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  object
 6   SellerG          13580 non-null  object
 7   Date             13580 non-null  object
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  YearBuilt        13580 non-null  int64
 16  CouncilArea      12211 non-null  object
 17  Lattitude        13580 non-null  float64
 18  Longtitude       13580 non-null  float64
 19  Regionname       13580 non-null  object
 20  Propertycount    13580 non-null  int64
 21  MeanRoomsSquare  13580 non-null  float64
 22  WeekdaySale      13580 non-null  int64
 23  Weekend          13580 non-null  int64
dtypes: category(1), float64(7), int64(9), object(7)
memory usage: 2.4+ MB

None

def delete_columns(df, col=[]):
    df_copy = df.copy()
    for column in col:
        if column in df_copy:
            df_copy.drop(column, axis = 1)
        else:
            return None
    return df_copy

In [ ]:
import pandas as pd

def delete_columns(df, col=[]):
    col = set(col)
    df_copy = df.copy()
    for column in col:
        if column in df_copy:
            df_copy = df_copy.drop(column, axis = 1)
        else:
            return None
    return df_copy

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

s = delete_columns(customer_df,['number', 'cust_id'])
print(s)

In [8]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],
    'relise': [1332, 1560, 1644, 1712, 6036, 2076, 2724]
})

countries_df['density'] = countries_df['population'] * 1e6 / countries_df['square']
#display(round(countries_df['density'].mean(), 2))

countries_df['data'] = pd.to_datetime(countries_df['relise'])
display(countries_df)

,country,population,square,relise,density,data
0,Англия,56.29,133396,1332,421.976671,1970-01-01 00:00:00.000001332
1,Канада,38.05,9984670,1560,3.810842,1970-01-01 00:00:00.000001560
2,США,322.28,9826630,1644,32.796595,1970-01-01 00:00:00.000001644
3,Россия,146.24,17125191,1712,8.539467,1970-01-01 00:00:00.000001712
4,Украина,45.50,603628,6036,75.377550,1970-01-01 00:00:00.000006036
5,Беларусь,9.50,207600,2076,45.761079,1970-01-01 00:00:00.000002076
6,Казахстан,17.04,2724902,2724,6.253436,1970-01-01 00:00:00.000002724

ЗАДАНИЙ 3.4-3.5

In [20]:
import pandas as pd

ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_data['Date'] = pd.to_datetime(ufo_data['Time'])

year_with_max_count_of_events = ufo_data['Date'].dt.year.mode()
#display(year_with_max_count_of_events)

diff_lost_events = ufo_data[ufo_data['State'] == 'NV']['Date'].diff().dt.days.mean()

display(diff_lost_events)

68.44876325088339

Задание 4.4

In [27]:
import pandas as pd
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
])




import warnings

warnings.filterwarnings('ignore')

import pandas as pd


def get_experience(arg:str):
    
    arg = arg.split()
    if len(arg) == 6:
        return int(arg[2])*12 + int(arg[4]) 
    elif len(arg[3]) >= 5:
        return int(arg[2])
    else:
        return int(arg[2])*12


print(test_series_2.apply(get_experience))

0    60
1     5
2    13
3     3
4    84
dtype: int64